
/* ============================
*  BASIC SYLES
*  ============================*/

/* Use this in div to center child element */
.flex-center {
  display: flex;
  justify-content: center;
}

p {
  margin-bottom: 0;
  color: DarkBlue;
  font-size: 18px;
}

button {
  height: 50px;
  width: 110px;
  margin-top: 15px;

  background-color: LightGray;

  border-radius: 20px;
  border: #808B96 3px solid;
  box-shadow: 5px 5px 10px grey;
}

button:focus {
  border-color: black;
  outline: 0; /* remove the blue box around the button */
}

button:focus {
  outline:0; // remove blue box around button added by browser
}

body {
  background-color: Gainsboro;
}

h1 {
  margin-top: 15px;
  margin-bottom: 0;

  font-family: sans-serif;

  text-align: center;
}


/* ============================
*  APP container for canvas and palette
*  ============================*/
.app-container {
  margin-top: 15px;
  padding: 25px 25px 15px 25px;

  background-color: DarkGray;

  border-radius: 20px;
  box-shadow: 8px 8px 30px grey;
}


/* ============================
*  CANVAS
*  ============================*/

/* entire canvas */
.canvas {
}

/* row of pixels, flex so pixels appear next to each other */
.canvas--row {
  display: flex;
  justify-content: center;
}

/* single pixel */
.canvas--pixel {
  height: 8px;
  width:  8px;
  border: solid 1px LightGray;
}

/* colored pixel, remove border from .canvas--pixel */
.canvas--pixel--colored {
  height: 10px; /* must be 2px larger to make up for removal of border */
  width: 10px; /* must be 2px larger to make up for removal of border */
  border-style: none;
}


/* ============================
*  PALETTE
*  ============================*/

/* entire palette */
.palette {
  margin-top: 15px;
  padding: 8px;

  background-color: LightGray;

  border-radius: 20px;
  box-shadow: 8px 8px 30px grey;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Single color */
.palette--color {
  height: 31px;
  width:  31px;

  margin-left: 2px;
  margin-right: 2px;

  border-radius: 50%;
  border: solid 2px DarkGray;
}
/* Current color */
.palette--color--curr {
  height: 50px;
  width:  50px;
}
